<ion-content padding>
  <ion-content padding id="convenios" scroll="false">
    <ion-fab-button size="small" color="light" (click)='onVoltar()'>
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>

  <ion-button class="submit-button" (click)="listPairedDevices()" color="primary" expand="block full">
    <ion-icon name="refresh"></ion-icon>&nbsp;Refresh Bluetooth Devices
  </ion-button>

  <form (ngSubmit)="selectDevice()">
    <ion-row>
      <ion-col>
        <ion-list radio-group [(ngModel)]="pairedDeviceID" name="pairedDeviceID" [ngModelOptions]="{standalone: true}" *ngIf="listToggle">
          <ion-item *ngFor="let i of pairedList;let j=index">
            <ion-label>{{i.name}}</ion-label>
            <ion-radio value="{{ j }}" ></ion-radio>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-button color="primary" expand="block full"  type="submit" class="submit-button" *ngIf="listToggle">
      <ion-icon name="bluetooth"></ion-icon>&nbsp;Connect Bluetooth Devices
    </ion-button>
  </form>
  <ion-list>
    <ion-item>
      <ion-label floating>Data Send</ion-label>
      <ion-input type="text" name="dataSend" [(ngModel)]="dataSend"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="primary" expand="block full" class="submit-button" (click)="sendData()">
    <ion-icon name="send"></ion-icon>&nbsp;Send Data Via Bluetooth
  </ion-button>
</ion-content>
