<ion-content padding id="confirmacao">
    
  <ion-fab-button size="small" color="light" (click)='onVoltar()'>
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
    
      
  <h2 id="confirmaO-heading6" style="color:#000000;text-align:center;">
    Confirmação
  </h2>
  <ion-card id="confirmaO-card22">
    <ion-list padding>      
      <div class="show-list-numbers-and-dots">
        <p style="color:#000000;">
              Passageiro:
              <strong>
                {{ params.nome }}
              </strong>
        </p>
        <p style="color:#000000;">
            Convênio:
            <strong>
              {{ params.convenioNome }} ({{ params.convenioDesconto }}%)
            </strong>
          </p>
          <p style="color:#000000;">
              Viagem:
              <strong>
                {{ params.viagemOrigemDestino }}
              </strong>
            </p>  
        <p style="color:#000000;">
          Trecho:
          <strong>
            {{ params.trechoOrigemDestino }} - {{ params.trechoValor | currency:'BRL':'symbol-narrow':'1.2-2' }}
          </strong>
        </p>
      </div>
      
      <div id="confirmaO-markdown3" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          Valor:
          <strong>
            {{ valorTrecho | currency:'BRL':'symbol':'1.2-2' }}
          </strong>
        </p>
      </div>
      <div id="confirmacao_forma" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          Forma de Pagamento:
          <strong>
            {{ params.formaPagamento }}
          </strong>
        </p>
      </div>
    </ion-list>
  </ion-card>
  
  <ion-button id="btn-confirmar" color="primary" expand="block full" (click)="onConfirmar()" disabled="{{ disabledButton }}">
    Confirmar <ion-spinner name="bubbles" *ngIf="disabledButton"></ion-spinner>
  </ion-button>
  <ion-button id="btn-cancelar"  color="dark" expand="block full" (click)="onCancelar()">
      Cancelar
    </ion-button>
</ion-content>