<ion-content padding id="trechos">
  <ion-fab-button size="small" color="light" (click)='onVoltar()'>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
<h2 id="viagem-heading3" style="color:#000000;text-align:center;">
  Escolha a Forma de Pagamento
</h2>
  {{ this.params.trechoValorPonto }} - {{ this.params.pontos }}

  <div *ngFor="let forma of formas">
  <ion-item id="trecho-item" (click)='getFormaPagamento(forma)'>
    <ion-label  >
      {{ forma }}
    </ion-label>      
  </ion-item>
  </div>


</ion-content>
