<ion-content padding class="loginPage">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 95%">
      <ion-grid class="login-container" style="width: 100%">
        <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
          <ion-row align-items-center>
            <ion-col text-center>
              <h2>Yjara</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>

              <ion-item>
                <ion-input placeholder="E-mail" name="email" value="ogp@w3mais.com.br" type="email" required formControlName="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input placeholder="Senha" name="password" type="password" value="123456" required formControlName="password"></ion-input>
              </ion-item>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>

              <ion-button type="submit" expand="block" [disabled]="!loginForm.valid">ENTRAR</ion-button>
            </ion-col>
          </ion-row>
        </form>        
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>