<ion-content padding id="trechos">
    <ion-fab-button size="small" color="light" (click)='onVoltar()'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
  <h2 id="viagem-heading3" style="color:#000000;text-align:center;">
    Escolha uma trecho
  </h2>
  <ion-row justify-content-center align-items-center *ngIf="!trechos">
    <ion-spinner name="bubbles"></ion-spinner>
  </ion-row> 

    <ion-item id="trecho-item" *ngFor="let trecho of trechos" (click)='getConfirmacao(trecho)'>
      <ion-label>
        {{ trecho.origem}}/{{ trecho.destino}} - {{trecho.valor.toLocaleString('pt-br',{style: 'currency',currency: 'BRL'})}} <span *ngIf="trecho.valor_ponto"> ou {{ trecho.valor_ponto }}pts</span>
      </ion-label>      
    </ion-item>
    
  
  
</ion-content>
