<ion-content padding  id="passageiro">
    <ion-fab-button size="small" color="light" (click)='onCancelar()'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
  <h2 id="passageiro-heading1" style="color:#000000;text-align:center; margin-bottom: 15px">
    Passageiro
  </h2>
  <p>Pontuação: {{ passageiro.pontos }}</p>
  <form [formGroup]="passageiros_form" (ngSubmit)="onSubmit(passageiros_form.value)" >    
    <ion-item id="passageiro-cpf">
      <ion-input type="text" placeholder="CPF" formControlName="cpf" name="cpf" [brmasker]="{form: passageiros_form.get('cpf'), person: true}"></ion-input>      
    </ion-item>
    <ion-item id="passageiro-nome">      
      <ion-input type="text" placeholder="Nome Completo" formControlName="nome" required></ion-input>
    </ion-item>
    <ion-item id="passageiro-email">      
      <ion-input type="email" placeholder="E-mail" formControlName="email" ></ion-input>
    </ion-item>
    <ion-item id="passageiro-nascimento">      
      <!--<ion-input type="date" placeholder="Data de Nascimento" formControlName="nascimento" required></ion-input>-->
      <!--<ion-label>Nascimento</ion-label>-->
      <ion-datetime done-text="Selecionar" cancel-text="Cancelar" placeholder="Data de Nascimento" formControlName="nascimento" required display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-item id="passageiro-telefone">      
      <ion-input type="text" placeholder="Telefone" formControlName="telefone" [brmasker]="{form: passageiros_form.get('telefone'), phone: true}"></ion-input>
    </ion-item>
    
    <ion-button id="avancar" color="primary" type="submit" disabled="{{ disabledButton }}" expand="block full" [disabled]="!passageiros_form.valid">
      Avançar
      <ion-icon slot="end" name="arrow-dropright-circle" *ngIf="!disabledButton" ></ion-icon>
      <ion-spinner name="bubbles" *ngIf="disabledButton"></ion-spinner>
    </ion-button>
  </form>
  
</ion-content>
