<ion-content padding id="convenios" scroll="false">
  <ion-fab-button size="small" color="light" (click)='onCancelar()'>
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>

  <ion-grid>
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-grid style="width: 100%">

        <h2 id="convenios-heading4" style="color:#000000;text-align:center;">
          Convênios
        </h2>

        <ion-item id="convenios-nenhum" (click)='onAvancar()'>
          <ion-label>
            Nenhum Convênio
          </ion-label>
        </ion-item>
        <ion-row justify-content-center align-items-center *ngIf="!convenios">
          <ion-spinner name="bubbles"></ion-spinner>
        </ion-row>                
        <ion-item id="convenios" *ngFor="let convenio of convenios; let i = index" (click)='onAvancar(convenio)'>
          <ion-label>
            {{convenio.nome}} ({{convenio.desconto}}%)
          </ion-label>
        </ion-item>
      </ion-grid>
    </ion-row>
  </ion-grid>

</ion-content>