<ion-content padding id="viagem">
    <ion-fab-button size="small" color="light" (click)='onVoltar()'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
  <h2 id="viagem-heading3" style="color:#000000;text-align:center;">
    Escolha uma viagem
  </h2>
  <ion-row justify-content-center align-items-center *ngIf="!viagens">
    <ion-spinner name="bubbles"></ion-spinner>
  </ion-row> 
    <ion-item id="viagens" *ngFor="let viagem of viagens" (click)='getTrecho(viagem)'>
      <ion-label>
        {{ viagem.origem}} - {{ viagem.destino}} ({{ viagem.saida }} - {{ viagem.chegada}})
      </ion-label>      
    </ion-item>
  
</ion-content>