// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


    ion-content {       
        --background: url(assets/img/isLhar3PRmzGGJ1jOna1_Lighthouse.jpg) no-repeat center !important;background-size:cover;
    }

    ion-button{
        --border-radius:0px;
        
        height: 50px;
    }
    ion-item{
        margin-bottom: 5px;
    }
    .alert-danger{
        color: #f04141;
    }


