<ion-content padding id="home" scroll="false">
  <ion-grid style="height: 100% ">
    <ion-row justify-content-center align-items-center style="height: 95%">
      <ion-grid class="login-container" style="width: 100%">
        <form [formGroup]="homeForm" (ngSubmit)="onSubmit(homeForm.value)">
          <ion-item id="cpf">
            <ion-input type="text" autofocus required clear-input placeholder="CPF" name="cpf" formControlName="cpf" [brmasker]="{form: homeForm.get('cpf'), person: true}"></ion-input>
          </ion-item>

          <ion-button id="avancar" color="primary" type="submit" expand="block full" disabled="{{ disabledButton }}">
            Avançar
            <ion-icon slot="end" name="arrow-dropright-circle" *ngIf="!disabledButton" ></ion-icon>
            <ion-spinner name="bubbles" *ngIf="disabledButton"></ion-spinner>
          </ion-button>

        </form>
        <ion-button color="primary"  expand="block full" (click)="print()">
            Imprimir            
          </ion-button>
      </ion-grid>
      </ion-row>

    </ion-grid>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)='onImpressoras()'>
      <ion-fab-button color="dark">
        <ion-icon name="print"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)='onLogout()'>
      <ion-fab-button color="danger">
        <ion-icon name="exit"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>